@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes fadein {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;} to {opacity: 0;}
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000
}

.main {
  pointer-events: none;
  touch-action: none;
}

.logo {
  width: 480px;
}

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
}

.title {
  font-weight: bolder;
  font-size: xx-large;
}
